<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>團購資料</title>
    <link rel="stylesheet" type="text/css" href="/css/img.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
<style>
body{
    overflow-y:scroll;
}
</style>
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
     <div>{{ include('top.html') }}</div>
     <div>{{ include('bt.html') }}</div>
</table>
{% if buy %}
<form action='{$_SERVER['PHP_SELF']}' method='POST'>
    <table class='main-table'>
    <tr>
        <th colspan='2'>
            <div class="main-th" >{{buy.name}}</div>
        </th>
    <tr>
        <td colspan="2">
            <font face="微軟正黑體" size="4" color="#8a4e30"><B>團主：{{buy.owner}}</B></font>
        </td>
    <tr>
        <td style="width:50%">
            <img class="group-img" src='/images/{{buy.token}}'>
        </td>
        <td>
            <div style="margin: auto;">
                <div class="price-info" style="font-size:15px;">團購特價</div>
                <div class="price">${{buy.price}}</div>
                {% if buy.end == 'before' %}
                    <div class="AddGroupButton"><b>該團購已結束</b></div>
                {% else %}
                    {% if user %}
                        <div onclick="location.href='/buy/join/{{buy.token}}';" class="AddGroupButton">加入團購</div>
                    {% else %}
                        <div onclick="location.href='/user/login';" class="AddGroupButton">請先登入</div>
                    {% endif %}
                {% endif %}
                <br />
                <div class="price-info-border">
                    <div class="price-info">限量:{{buy.quantity}}份</div>
                    <div class="price-info">剩餘數量:<font color='FF0000'> {{buy.quantity - buy.num}}</font>份</div>
                    <div class="price-info">{{buy.num}}份已販售</div>
                </div>
                <div class="group-com group-area">
                    <li>團購地區:{{buy.area}}</li>
                    <li>付款方式：{% if buy.methor == 'facetoface' %}面交{% else %}郵局匯款{% endif %}</li>
                </div>
            </div>
        </td>
    <tr>
        <td colspan='2'>
            <div class="group-com">{{buy.com}}</div>
        </td>
{% if buy.conrun != 0 or buy.conjoin != 0 %} 
    <tr>
        <td colspan="2">
            <div class="main-th main-td">團購限制條件</div>
        </td>
    </tr>
    {% if buy.conrun != 0 %}
    <tr>
        <td>
            <div style="margin-left: 100px; color: #624d48;">跑團次數小於<font color="red"><B>{{buy.conrun}}</B></font>次</div>
        </td>
        {% if user %}
        <td align="left">
            <div style="color: #624d48;">您跑團次數為{{userRun}}次</div>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% if buy.conjoin != 0 %}
    <tr>
        <td>
            <div style="margin-left: 128px; color: #624d48;">參加團購次數至少<font color="red"><B>{{buy.conjoin}}</B></font>次</div>
        </td>
        {% if user %}
        <td align="left">
            <div style="color: #624d48;">您參加團購次數為{{userJoin}}次</div>
        </td>
        {% endif %}
    </tr>
    {% endif %}
{% endif %}
    <tr>
        <td colspan="2">
            <div class="group-com">{{buy.det}}</div>
        </td>
</table>
</form>
{% else %}
<h3 align="center">查無該團購,請查看其他團購</h3>
{% endif %}
<br />
<hr width="1000">
<br />
<br />
</body>
</html>