<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>團購資料</title>
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
     <div>{{ include('top.html') }}</div>
     <div>{{ include('bt.html') }}</div>
</table>
{% if buy %}
<form action='{$_SERVER['PHP_SELF']}' method='POST'>
    <table align='center' style='background:rgba(255, 255, 255, .5); filter: progid: DXImageTransform.Microsoft.gradient (startcolorstr=#7fffffff, endcolorstr=#7fffffff); padding:10px; width: 700px; border: 0px solid #624d48; text-align:left; '>
    <tr bgcolor= '#CCBBFF'>
        <td align='center' colspan='2'>
            <font size='6'><B> {{buy.name}} </B></font>
        </td>
    </tr>
    <tr>
        <td align='left' colspan='2'>
            <font face='微軟正黑體' size='4'>{{buy.com}}</font>
        </td>
    </tr>
    <tr>
        <td align='center' rowspan='5'>
            <img border="1" width="300" height="300" src='/images/{{buy.token}}'>
        </td>
    </tr>
    <tr>
        <td align='left'>
            <font size='6' color='EE0000'><B>${{buy.price}}</B></font>
        </td>
    </tr>
    <tr>
        <td align='left'>
            <font size='4' color='00AA00'><B>限量:{{buy.quantity}}份</B></font>
        </td>
    </tr>
    <tr>
        <td align='left'>
            <font size='4'><B>剩餘數量:<font color='FF0000'> {{buy.quantity - buy.num}}</font>份</B></font>
        </td>
    </tr>
    <tr>
        <td align='left'>                       
            <font size='5' color='FF6699'><B>已賣出{{buy.num}}份</B></font>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <font face="微軟正黑體" size="4" color="FF9900"><B>團主：{{buy.owner}}</B></font>
        </td>
    </tr>
    <tr bgcolor= '#CCBBFF'>
        <td align='center' colspan='2'>
            <font face='微軟正黑體' size='4'><B>團購地區:{{buy.area}}</B></font>
        </td>
    </tr>
{% if buy.conrun != 0 or buy.conjoin != 0 %} 
    <tr>
        <td align="center" colspan="2">
            <font color="red"><B>團購限制條件</B></font>
        </td>
    </tr>
    {% if buy.conrun != 0 %}
    <tr>
        <td align="center">
            跑團次數小於<font color="red"><B>{{buy.conrun}}</B></font>次
        </td>
        {% if user %}
        <td align="left">
            您跑團次數為{{userRun}}次
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% if buy.conjoin != 0 %}
    <tr>
        <td align="center">
            參加團購次數至少<font color="red"><B>{{buy.conjoin}}</B></font>次
        </td>
        {% if user %}
        <td align="left">
            您參加團購次數為{{userJoin}}次
        </td>
        {% endif %}
    </tr>
    {% endif %}
{% endif %}
{% if buy.end == 'before' %}
    <tr>
       <td align='center' colspan='2'>
            <font color="red" size="4"><b>該團購已結束</b></font>
        </td>
{% else %}
    {% if user %}
    <tr>
        <td align='center' colspan='2'>
            <a href="/buy/join/{{buy.token}}">加入團購</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td align='center' colspan='2'>
            <a href="/user/login">請先登入</a>
        </td>
    </tr>
    {% endif %}
{% endif %}
    <tr bgcolor="#CCBBFF">
        <td align="center" colspan="2">
            <font size="4"><B>付款方式：{% if buy.methor == 'facetoface' %}面交{% else %}郵局匯款{% endif %}</B></font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font size="4">{{buy.det}}</font>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <font size="4"><a href="/">回首頁</a></font>
        </td>
    </tr>
</table>
</form>
{% else %}
<h3 align="center">查無該團購,請查看其他團購</h3>
{% endif %}
<br />
<hr width="1000">
<br />
<br />
</body>
</html>