<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buytogether</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
body{
    overflow-y:scroll;
}
</style>
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
<div>{{ include('top.html') }}</div>
</table>
<br />
<hr width="1000">
<br />
<table align='center'>
    <tr>
        <td>
            <span id="eoq" color="green"><u>最小年總成本訂購量</u></span>｜<span id="eoqp" color="green"><u>經濟生產批量</u></span>｜<span id="eoqd" color="green"><u>數量折扣</u></span>｜<span id="conps" color="green"><u>隨機需求單一週期存貨模式</u></span>
        </td>
    </tr>
</table>
<br />
<br />
<table align='center' style='background:rgba(255, 255, 255, .5); filter: progid: DXImageTransform.Microsoft.gradient (startcolorstr=#7fffffff, endcolorstr=#7fffffff); padding:10px; width: 90%; border: 0px solid #624d48; text-align:left; '>
    <tr>
        <td colspan="3" align="center">
            <span color="624d48" size="4">透過上面四種計算方式，能於各種情境下幫助團主找出最合適的訂購數量。</span><br /><br /><br />
        </td>
    <tr align="center">
        <td style="width: 33%;" >
            <div id ="left">
                <div id="ch_list" style="display: none;" align="left">
                    <div>持有成本是指你維持某個存貨水準的成本</div>
                    <form id="countchforms">
                        <input type ='text' id='sumd' placeholder="持有的貨品總價"><br>
                        <input type ='text' id='save' placeholder="保存貨品花費比率約(%)"><br>
                        <input type ='text' id='cost1' placeholder="收齊費用的支出比率(%)"><br>
                        <input type ='text' id='cost2' size="35" placeholder="假設有團員沒領貨品你所要負擔的費用比率(%)">
                        <div align="center"><button  id='chsubmits'>計算</button></div>
                    </form>    
                </div>
            </div>
        </td>
        <td style="width: 33%;">
            <div id="main" align="left">
                <div id="eoq_list" style="display: none">
                    <h3 align='center'>計算最小年總成本訂購量</h3>
                    <form id='forms'>
                        <div>需求數量(D)&nbsp;&nbsp;：<input id='demand' type ='text' size='10'></div>
                        <div>訂購成本(Co)：<input id='cos' type ='text' size='10'><span id='countco' color='624d48'>預估訂購成本</span></div>
                        <div>持有成本(Ch)：<input id='chs' type ='text' size='10'><span id='countch' color='624d48'>預估持有成本</span></div>
                        <div align='center'><button id='eoq_submits'>送出</button></div>
                    </form><br /><br />
                </div>
                <div id="eoqp_list" style="display: none">
                <h3 align='center'>計算經濟生產批量</h3>
                    <form id='eoqp_forms'>
                        <div>年需求量(D)&nbsp;&nbsp;：<input type ='text' id='demands1' size='10'></div>
                        <div>訂購成本(Co)：<input id='cos1' type ='text' size='10'><span id='countco1' color='624d48'>預估訂購成本</span></div>
                        <div>持有成本(Ch)：<input id='chs1' type ='text' size='10'><span id='countch1' color='624d48'>預估持有成本</span></div>
                        <div>團購廠商的年生產量(P)：<input type ='text' id='ps1' size='10'></div>
                        <div align='center'><button id='eoqp_submits'>送出</button></div>
                    </form><br /><br />
                </div>
        </td>
        <td style="width: 33%;">
        <div id="right">
            <div id ='co_list' style="display: none">
                <span id='test'>此成本與訂購量無關為每次進行團購預計會花費的成本
                    <br>包含報價單以及訂單的處理，
                    <br>其中包括存款、郵費、電話費、交通費</span>
                    <form id='countcoforms'>
                        <input id='co1' type='text' placeholder='訂購貨品的人力成本'>
                        <br><input id='co2' type='text' placeholder='郵費'>
                        <br><input id='co3' type='text' placeholder='聯絡的電話費'>
                        <br><input id='co4' type='text' placeholder='交通費'>
                        <br><input id='co5' type='text' placeholder='其他可能的支出'>
                        <div align='center'><button id='cosubmits'>計算</button></div>
                    </form>
                </div>
        </div>
        </td>
    <tr align="center">
         <td colspan="3">
            <div id="eoqd_list" style="display: none; text-align:center;">
                <form id='eoqd_forms'>
                    <input type ='text' id='discounts' size='25' placeholder="請輸入該產品提供幾種折扣方式">
                    <button id='eoqd_submits'>送出</button>
                </form>
                </h3>
            </div>
            <div id="eoqd_list2"></div>
        </td>
</table>

</body>
<script>
    $(function() {
        $('#eoq').click(function(){
            $('#eoqp_list').hide();
            $('#eoqd_list').hide();
            $('#eoqd_list2').hide();
            $('#eoq_list').slideToggle();
        });
        $('#eoqp').click(function(){
            $('#eoq_list').hide();
            $('#eoqd_list').hide();
            $('#eoqd_list2').hide();
            $('#eoqp_list').slideToggle();
        });
        $('#eoqd').click(function(){
            $('#eoqd_list2').hide();
            $('#eoqd_list2').html('');
            $('#eoq_list').hide();
            $('#eoqp_list').hide();
            $('#eoqd_list').slideToggle();
        });
        $('#countco').click(function(){
            $('#co_list').slideToggle();
        });
        $('#countch').click(function(){
            $('#ch_list').slideToggle();
        });
        $('#countco1').click(function(){
            $('#co_list').slideToggle();
        });
        $('#countch1').click(function(){
            $('#ch_list').slideToggle();
        });
        $('#cosubmits').click(function(){
            $('#co_list').slideToggle();
            $('#cos').val(parseInt($('#co1').val())+parseInt($('#co2').val())+parseInt($('#co3').val())+parseInt($('#co4').val())+parseInt($('#co5').val()));
            $('#cos1').val($('#cos').val());
            return false;
        });
        $('#chsubmits').click(function(){
            $('#ch_list').slideToggle();
            $('#chs').val(parseInt($('#sumd').val()) * (parseInt($('#save').val())/100 + parseInt($('#cost1').val())/100 + parseInt($('#cost2').val())/100));
            $('#chs1').val($('#chs').val());
            return false;
        });
        $('#eoq_submits').click(function(){
            var count_eoq = (2 * parseInt($('#demand').val()) * parseInt($('#cos').val())) / parseInt($('#chs').val());
            var re = Math.round(Math.sqrt(count_eoq));
            alert('最小年總成本訂購量為：'+ re);
            return false;
        });

        $('#eoqp_submits').click(function(){
            var count_eoqp = (2 * parseInt($('#demands1').val()) * parseInt($('#cos1').val())) / ((1 - parseInt($('#demands1').val()) / parseInt($('#ps1').val())) * parseInt($('#chs1').val()));
            var re1 = Math.round(Math.sqrt(count_eoqp));
            alert('經濟生產批量為：'+ re1);
            return false;
        });

        $('#eoqd_submits').click(function(){
            $('#eoqd_list').hide();
            $('#eoqd_list2').show();
            var re ="<h3 align='center'>請輸入以下資料：</h3><form id='eoqd_forms2'><table align='center' style='text-align: center;''><tr><td align='left' colspan='3'>該產品價格：<input id='price' type='text' size='15'></td><td colspan='2' align='left'>｜折扣or優惠價,擇一填</td><tr><td>｜折讓等級 </td><td>｜訂購產品的數量範圍(小) </td><td>｜訂購產品的數量範圍(大) </td><td>｜折扣(幾折) </td><td>｜優惠價｜</td>";
            for (var i =1; i <= parseInt($('#discounts').val()); i++) {
            var re = re +"<tr><td>"+ i +"</td><td><input type ='text' id='range1[]' size='10'></td><td>";
                if ( parseInt(i) != parseInt($('#discounts').val())) {
                    var re = re + "<input type ='text' id='range2[]' size='10'>";
                }
                var re = re +"</td><td><input type ='text' id='dis[]' size='10'></td><td><input type ='text' id='disprice[]' size='10' >";
            }
            var re = re +"<tr><td colspan='3'></td><td colspan='2'><button id='eoqd2_submits'>送出</button></td></table><br /><br /><h3 align='center'>舉例說明 :</h3><table align='center' style='text-align: center;''><tr><td align='left' colspan='5'>該產品價格：5</td><tr><td>｜折讓等級</td><td>｜訂購產品的數量範圍(小)</td><td>｜訂購產品的數量範圍(大)</td><td>｜折扣(幾折)</td><td>｜優惠價</td><tr><td>1</td><td>0</td><td>999</td><td>0</td><td>5</td><tr><td>2</td><td>1000</td><td>2499</td><td>97</td><td>4.85</td><tr><td>3</td><td>2500</td><td></td><td>95</td><td>4.75</td><tr><td colspan='5'>沒有打折,折扣填0</td><tr><td colspan='5'>系統將自動轉換優惠價→折扣</td></table>";
            $('#eoqd_list2').append(re);
            return false;
        });

        // $('body div .sel').val('');
        // $('body div .sel').click()
        // $('body div .sel').change(function(){
        //     $('#xxx').html('<div id="ddwdw">321</div>');
        // });
        // $('#ddwdw').click(function(){
        //     alert('test');
        // })
        // $('document').on('click','#ddwdw', function(){
        //     alert('test');
        // })
        // $('#submits').click(function(){
        //     $.ajax({
        //         url: 'http://aboard/useralbumplus/login',
        //         data: {
        //             'name':'dewde',
        //             'pass':'dewfdwe'
        //                 },
        //         type:"POST",
        //         dataType:'json',
        //         success: function(data){
        //             $('#names').val('');
        //             $('#passs').val('');
        //             $('#xxx').html(data.msg);
        //         },
        //         error:function(xhr, ajaxOptions, thrownError){
        //             alert(xhr.status);
        //             alert(thrownError);
        //         }
        //     });
        //     return false;
        // })
    });
</script>
</html>