<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buytogether - Group Threads</title>
    {% if status == false and string %}
        {% if string == '你沒有權限刪除該留言' %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/thread/{{buy.token}}')
    </script>
        {% else %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/')
    </script>
        {% endif %}
    {% elseif status == true and string %}
        <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/thread/{{buy.token}}')
    </script>
    {% endif %}
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
     <div>{{ include('top.html') }}</div>
</table>
<br />
<hr width="1000">
<br />
<table align='center' style='background:rgba(255, 255, 255, .5); filter: progid: DXImageTransform.Microsoft.gradient (startcolorstr=#7fffffff, endcolorstr=#7fffffff); padding:10px; width: 1000px; border: 0px solid #624d48; text-align:left; '>
    <tr>
        <td>
            <table align='center' style='width: 1000px;'>
                <tr style='background:rgba(255, 255, 255, .5);'>
                    <td align='center' style='font-size:20px; font-weight: 900;'>
                        <font color="7700BB" size="6"><B>{{thread.title}}</B></font>
                    </td>
                </tr>
                <tr style='background:rgba(255, 255, 255, .5);'>
                    <td align='center' style='font-size:20px; font-weight: 900;'>
                        <font color="#444444">團主：</font><font color="#5500FF" size="5"><B>{{thread.owner}}</B></font>
                    </td>
                </tr>
{% set i = 0 %}
{% for p in post %}
{% set i = i +1 %}
{% if i % 2 == 0 %}
{% set bcolor = '#FFFF99' %}
{% else %}
{% set bcolor = '#FFFFFF' %}
{% endif %}
                <tr>
                    <td>
                        <table align="center" width="900" bgcolor="{{bcolor}}">
                            <tr>
                                <td align="center" rowspan="2" width="50">
                                    <img src="/userimages/{{p.usertoken}}" width="50" height="50" border="0">
                                </td>
                                <td align="left" >
                                    {% if p.name == thread.owner %}<font color="#5500FF">{{p.name}}{% else %}<font color="#666666">{{p.name}}{% endif %}</font>
                                </td>
                                <td align="right">
                                    <font color="#666666">{% if p.updatetime %}{{ date(p.updatetime).format('Y-m-d H:i')}}{% else %}{{ date(p.createtime).format('Y-m-d H:i')}}{% endif %}</font>
                                </td>
                            <tr>
                                <td align="left">
                                    {{p.content}}
                                </td>
                                <td align="right">
                                    {% if p.usertoken == user %}<a href="/thread/editpost/{{p.token}}"><font color="green">修改</font></a>
                                    ｜<a href="/thread/deletepost/{{p.token}}"><font color="green">X</font></a>{% endif %}
                                </td>
                        </table>
                    </td>
{% endfor %}
            </table>
        </td>
    </tr>
</table>
<br />
<table align='center' style='background:rgba(255, 255, 255, .5); filter: progid: DXImageTransform.Microsoft.gradient (startcolorstr=#7fffffff, endcolorstr=#7fffffff); padding:10px; width: 700px; border: 0px solid #624d48; text-align:left; '>
    <form action="/thread/addpost" method="POST" >
        <tr>
            <td align='center'>
                <font color="#A52D3C" size="5"><B>參與討論</B></font>
            </td>
        </tr>
        <tr>
            <td  align='center'>
                <textarea rows='5' cols='40' name='content'></textarea>
            </td>
        <tr>
            <td align="center">
                <input type="hidden" name="tid" value="{{thread.token}}">
                <input type="submit" value="留言">
            </td>
    </form>
</table>
<br />
<hr width="1000">
<br />
<br />
</body>