<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>團購資料</title>
    <link rel="stylesheet" type="text/css" href="/css/img.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
{% if status == true and string %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/index')
    </script>
{% elseif status == false and string %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/buy/join/{{token}}')
    </script>
{% endif %}
<style>
body{
    overflow-y:scroll;
}
</style>
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
     <div>{{ include('top.html') }}</div>
     <div>{{ include('bt.html') }}</div>
</table>
{% if buy and user %}
<form  action='/buy/join/{{buy.token}}' enctype="multipart/form-data" method='POST'>
    <table class="main-table">
    <tr>
        <th>
            <div class="main-th">{{buy.name}}</div>
        </th>
    <tr>
        <td align='center'>
            <img class="group-img" src='/images/{{buy.token}}' >
        </td>
    <tr>
        <td>
            <ul style="list-style-type:none; ">
                <li class="group-li" style="margin-right:80px;">付款方式：{% if buy.methor == 'facetoface' %}面交{% else %}郵局匯款{% endif %}</li>
                <li class="group-li" style="margin-right:115px;">價錢：$ {{buy.price}}</li>
                <li class="group-li" style="margin-right:112px;">尚有：{{ buy.quantity - buy.num }}份</li>
                <li class="group-li" style="margin-right:10px;">請填入購買數量：<input type='text' name='quantity' size='5'></li> 
            </ul>
            <div style="margin: auto;">
                <input type='hidden' name='pid' value='{{buy.token}}'><button class="AddGroupButton" style="width:150px;" type='submit'>參加團購</button>
            </div>
        </td>
    </tr>
    <tr>
        <td align='center'>
            <font size='4' color='EE0000'><B>注意！按下送出後即送出訂單，請確認購買數量</B></font>
        </td>
    </tr>
    <tr>
        <td align='center'>
            <font size='3'><B>(請確認身份：<font color='FF9900'>{{useremail}}</font>)</B></font>
        </td>
    </tr>
</table>
</form>
{% endif %}
<br />
<hr width="1000">
<br />
<br />
</body>
</html>