<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Buytogether</title>
    <link rel="stylesheet" type="text/css" href="/css/img.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>
body{
    overflow-y:scroll;
}
</style>
</head>
<body background="/_images/wrapper-bg.jpg" >
<table align='center' border='0' width="1000">
<div>{{ include('top.html') }}</div>
<div>{{ include('bt.html') }}</div>
    <tr>
        <td colspan="2">
{% if buy %}
            <marquee onMouseOver="this.stop()" onMouseOut="this.start()" scrollamount="10">
{% for b in buy %}
            <a href='/buy/view/{{b.token}}'>
                <img  class="marquee-img" src='/images/{{b.token}}' >
            </a>
{% endfor %}
            </marquee>
{% endif %}
        </td>
    </tr>
</table>
<table class="main-table">
{% set count = 0 %}
{% if buy  %}
{% for b in buy %}
{% if count % 3 == 0 %}
    <tr>
{% endif %}
{% set count = count + 1 %}
        <td width='300'>
            <table align="center" width="300">
                <tr>
                    <td align="center" colspan="3" height="50">
                        <a href='/buy/view/{{b.token}}'><font size='6' color="#624d48"><B>{{b.name}}{{i}}</B></font></a>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="3">
                        <a href='/buy/view/{{b.token}}'>
                        <img class="main-img" src='/images/{{b.token}}' ></a>
                    </td>
                </tr>
                <tr>
                    <td align='left'>
                        <font size='6' color='red'><B>${{b.price}}</B></font>
                    </td>
                    <td align='center'>
                        <font size='4' color='green'><B>限量:{{b.quantity}}份</B></font>
                    </td>
                    <td align='center'>
                        <font size='3' color='orange'><B>{{b.num}}份已販售</B></font>
                    </td>
                </tr>
                <tr>
                    <td align='left'>
                        <font size='4' color='#AA0000'><strike>${{b.oprice}}</strike></font>
                    </td>
                    <td align="center">
                        <font size="4">{{b.area}}</font>
                    </td>
                    <td align='center'>
                        <a style="color:#624d48; font-weight: bold; font-size: 20px;" href='/buy/view/{{b.token}}'>{% if b.end == 'open' %}立即加入{% else %}團購資料{% endif %}</a>
                    </td>
                </tr>
            </table>
        </td>
{% endfor %}
{% elseif search %}
            <tr>
                <td align='center'>
                    <h1>團購分類搜尋</h1>
                </td>
            <tr>
                <td align='center'>
                    <div class="navbar navbar-inverse" style="width:250px">
                      <div class="navbar-header">
                        <a class="navbar-brand" disabled="disabled">付款方式</a>
                      </div>
                      <div class="navbar-collapse collapse navbar-inverse-collapse">
                        <ul class="nav navbar-nav">
                          <li><a href="/?methor=facetoface">面交</a></li>
                          <li><a href="/?methor=remittance">匯款</a></li>
                        </ul>
                      </div>
                    </div>
                <div class="navbar navbar-inverse">
                      <div class="navbar-header">
                        <a class="navbar-brand" disabled="disabled">地區</a>
                      </div>
                      <div class="navbar-collapse collapse navbar-inverse-collapse">
                        <ul class="nav navbar-nav">
                          <li><a href="/?area=台北">台北</a></li>
                          <li><a href="/?area=新北">新北</a></li>
                          <li><a href="/?area=桃園">桃園</a></li>
                          <li><a href="/?area=苗栗">苗栗</a></li>
                          <li><a href="/?area=台中">台中</a></li>
                          <li><a href="/?area=彰化">彰化</a></li>
                          <li><a href="/?area=南投">南投</a></li>
                          <li><a href="/?area=雲林">雲林</a></li>
                          <li><a href="/?area=嘉義">嘉義</a></li>
                          <li><a href="/?area=台南">台南</a></li>
                          <li><a href="/?area=高雄">高雄</a></li>
                          <li><a href="/?area=屏東">屏東</a></li>
                          <li><a href="/?area=宜蘭">宜蘭</a></li>
                          <li><a href="/?area=花蓮">花蓮</a></li>
                          <li><a href="/?area=台東">台東</a></li>
                        </ul>
                      </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <table align='center'>
                            <form name="report" method="GET" enctype="multipart/form-data" action="/">
                        <tr>
                            <td align='center' style="font-size:18px;">
                                <h2 class="text-danger">進階查詢說明</h2><p class="text-info">選擇要查詢的項目，若該項沒有要查詢則不用選擇。</p>
                            </td>   
                        </tr>
                    <tr>
                        <td align='center'>
                                <select size='1' name='methor' class="btn btn-success">
                                <option value='' selected>-付款方式-
                                <option value='facetoface'>面交
                                <option value='remittance'>匯款
                            </select><select size='1' name='area' class="btn btn-success">
                                <option value='' selected>-團購地區-
                                <option value='台北'>台北
                                <option value='新北'>新北
                                <option value='桃園'>桃園
                                <option value='新竹'>新竹
                                <option value='苗栗'>苗栗
                                <option value='台中'>台中
                                <option value='彰化'>彰化
                                <option value='南投'>南投
                                <option value='雲林'>雲林
                                <option value='嘉義'>嘉義
                                <option value='台南'>台南
                                <option value='高雄'>高雄
                                <option value='屏東'>屏東
                                <option value='宜蘭'>宜蘭
                                <option value='花蓮'>花蓮
                                <option value='台東'>台東
                            </select><select size='1' name='class' class="btn btn-success">
                                <option value='' selected>-團購分類-
                                <option value='goodeat'>找好吃
                                <option value='goodfun'>找好玩
                                <option value='gooduse'>找好用
                            </select>
                        </td>   
                    <tr> 
                        <td  align="CENTER">
                            <button type="submit" class="btn btn-primary">查詢</button>
                        </td>
                    </tr>
                        </form>
                    </table>
                </td>
            </tr>
        </table>
{% else %}
    <tr>
        <td align="center">
            <h3>該查詢項目中沒有團購資料，請重新查詢</h3>
        </td>
    <tr>
        <td align="center">
            <a href="/?search=ture">重新查詢</a>
        </td>   
{% endif %}
    </tr>
</table>
<br />
<hr width="1000">
<br />
<br />

</div>
</body>
</html>