<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的團購</title>
{% if status == true %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/user/mygroup/{{bid}}')
    </script>
{% elseif status == false and string %}
    <script language="JavaScript">
        alert('{{string}}')
        window.location.replace('/user/mygroup/{{bid}}')
    </script>
{% endif %}
</head>
<body background="/_images/wrapper-bg.jpg">
<table align='center' border='0' width="1000">
     <div>{{ include('top.html') }}</div>
     <div>{{ include('bt.html') }}</div>
</table>
<table align='center' width='110%' border='1' style='background:rgba(255, 255, 255, .5); filter: progid: DXImageTransform.Microsoft.gradient (startcolorstr=#7fffffff, endcolorstr=#7fffffff); padding:10px; width: 1100px; border: 0px solid #624d48; text-align:left; '>
	<tr >
		<td align='center' colspan='11'>
			<font size='5'>{{buyname}}</font>
		</td>
	<tr >
		<td align='center' colspan='11'>
			<font size='4' color='000000' face='微軟正黑體'><B>
				<a href='{$_SERVER['PHP_SELF']}?op=group_eva&buy_Owner={$row['buy_Owner']}&buy_Id={$buy_Id}'>團主{{buyowner}}的評價</a></B>
			</font>
		</td>
	<tr >
		<td align='center' colspan='7'>
			<font size='4'>團員資訊</font>
		</td>
		<td align='center' colspan='4'>
			<font size='4'>團購處理<br></font>
		</td>
	<tr>
		<td align='center'>訂單編號</td>
		<td align='center'>帳號</td>
		<td align='center'>姓名</td>
		<td align='center'>訂購數量</td>
		<td align='center'>跑團次數</td>
		<td align='center'>團購次數</td>
		<td align='center'>刪除訂單</td>
		<td colspan="2" align='center'>團購狀態</td>
		<td colspan="2" align='center'>修改狀態</td>
{% if join %}
{% for j in join %}
	<tr>
		<td align='center'>{{j.token}}</td>
		<td align='center'>{{j.email}}</td>
		<td align='center'>{{j.name}}</td>
		<td align='center'>{{j.quantity}}</td>
		<td align='center'>{{j.run}}</td>
		<td align='center'>{{j.join}}</td>
		<td align='center'>
			<a href="/join/delete/{{j.token}}">刪除</a>
		</td>
		<td colspan="2" align='center'>{{j.handle}}</td>
		<td colspan="2" align='center'>修改狀態</td>
{% endfor %}
{% endif %}
</table>